* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  color: lime;
  z-index: 0;
  /* Neon green text color */
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100lvw;
  height: 100%;
  grid-template-rows: 20% 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  padding: 5% 5%;
  box-sizing: border-box;
}

.displays {
  width: 100%;
  margin-bottom: auto;
}

.displays input {
  font-size: 2.5rem;
}

.displays .exponent-display {
  width: 20%;
  margin-left: auto;
}

.displays .exponent-display .textview {
  border-radius: 0;
  background-color: #41ff00;
  color: black;
}

.interface {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.interface .options-container {
  margin-right: auto;
}

.button {
  height: 100px;
  width: auto;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  margin: 2px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid lime;
  /* Lime-colored border */
  color: lime;
  /* Neon green text color */
  background-color: #000;
  /* Black background for buttons */
  transition-duration: 0.4s;
}

.button:hover,
.button:active {
  background: lime;
  color: black;
  /* Neon blue background on hover */
}

.options-container {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  justify-self: start;
  align-self: end;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 10px;
}

.result-container {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.calculator-container {
  width: auto;
  grid-column: 2;
  grid-row: 1 / 3;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  justify-self: self-end;
  padding: 10px;
  gap: 10px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.textview {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  height: auto;
  margin: 5px;
  font-size: 3rem;
  padding: 5px;
  border: 2px solid lime;
  border-radius: 5px;
  background-color: #000;
  color: lime;
}

.button-group {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  border: none; /* Remove the default fieldset border */
  padding: 0; /* Remove the default fieldset padding */
  margin: 0; /* Remove default margin */
}

.button-group legend {
  grid-column: 1 / -1; /* Make the legend span all columns */
  margin-bottom: 10px;
}

.button-group input[type="radio"] {
  display: none; /* Hide the actual radio button */
}

.button-group label {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid lime;
  background-color: black;
  color: lime;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.button-group input[type="radio"]:checked + label {
  background-color: lime;
  color: black;
}

/* ========================================================== */
/* REGISTER MODE */
/* ========================================================== */

.button.fullscreen-button {
  position: absolute !important;
  right: 15px;
  top: 15px;
  height: 60px;
  width: 60px;
  padding: 10px;
  border: none;
}

.button.fullscreen-button:hover {
  background-color: black;
  color: #41ff00;
}

/* ========================================================== */
/* OTHER MODES */
/* ========================================================== */

.main:has(.modo.button-group #register:checked)
  .calculator-container
  .button:not(:is(.basic, .register)) {
  display: none;
  pointer-events: none;
}

.main:has(.modo.button-group #NORM:checked)
  .calculator-container
  .button:not(:is(.basic, .norm)) {
  display: none;
  pointer-events: none;
}

.main:has(.modo.button-group #ALU:checked)
  .calculator-container
  .button:not(:is(.basic, .alu)) {
  display: none;
  pointer-events: none;
}

.main:has(.modo.button-group #NORM:not(:checked))
  .calculator-container
  .button:last-child {
  display: none;
  pointer-events: none;
}

.main:has(.modo.button-group #NORM:checked) #id {
  display: block;
  pointer-events: all;
}

.main:has(.modo.button-group #NORM:checked) .calculator-container,
.main:has(.modo.button-group #register:checked) .calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: auto;
}

.main:has(.modo.button-group #register:checked) .calculator-container .button {
  display: inline-flex;
}

.main:has(.modo.button-group #register:checked) .textview {
  width: 100%;
  height: auto;
}

.main:has(.modo.button-group #NORM:not(:checked)) .exponent-display .textview {
  display: none;
}

.main:has(.modo.button-group #NORM:checked) .textview#res,
.main:has(.modo.button-group #register:checked) .textview#res {
  display: none;
}
